/*
██ ███████ ███████  ██████ ████████ ██  ██████  ███    ██ ██ ███    ██  ██████
██ ██      ██      ██         ██    ██ ██    ██ ████   ██ ██ ████   ██ ██
██ ███████ █████   ██         ██    ██ ██    ██ ██ ██  ██ ██ ██ ██  ██ ██   ███
██      ██ ██      ██         ██    ██ ██    ██ ██  ██ ██ ██ ██  ██ ██ ██    ██
██ ███████ ███████  ██████    ██    ██  ██████  ██   ████ ██ ██   ████  ██████
*/
body {
  margin-top: -27px;
  margin-bottom: 0px;
}

.frame {
  min-height: 900px;
  /*min-width: 900px;*/
  width: 900px;
  margin: 0 auto;
}

.frame .header {
  height: 80px;
}

.frame .body {
  min-height: 770px;
}

.frame .body .upperbound,
.frame .body .lowerbound {
  height: 10px;
}

.frame .body .controlbar {
  width: 185px;
}

.frame .body .content {
  min-height: 710px;
  min-width: 680px;
  margin-left: 200px;
}

.frame .footer {
  height: 50px;
}

/*
██  ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████
██ ██      ██    ██ ████   ██    ██    ██      ████   ██    ██
██ ██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██
██ ██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██
██  ██████  ██████  ██   ████    ██    ███████ ██   ████    ██
*/
body {
  background-color: #F2B632;
  overflow: scroll;
}

.frame .header {
  text-align: right;
  border-radius: 0px 0px 5px 5px;
  background-color: #252839;
  color: #F2B632;
}

.frame .header h1 {
  padding-right: 20px;
  padding-top: 30px;
  font-size: 30pt;
}

.frame .body .content {
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  background-color: #252839;
  color: #B5B5B7;
}

.frame .body .content a {
  color: #B5B5B7;
}

.frame .body .controlbar {
  float: left;
}

.frame .footer {
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  background-color: #252839;
  color: #B5B5B7;
}

.inline {
  display: inline;
  padding-right: 10px;
}

/*
██ ███    ███ ███████ ███    ██ ██    ██
██ ████  ████ ██      ████   ██ ██    ██
██ ██ ████ ██ █████   ██ ██  ██ ██    ██
██ ██  ██  ██ ██      ██  ██ ██ ██    ██
██ ██      ██ ███████ ██   ████  ██████
*/
/* from http://cssapps.de/menues/men_mob_v_accordion_n31.html# */
#menu {
  background-color: #252839;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 40px 30px -40px black;
  font: normal 1em sans-serif;
}

#menu,
#menu ul {
  list-style: none;
  padding:0;
}

#menu li {
  margin: 5px 10px;
}

#menu a {
  text-decoration: none;
  outline: none;
  display: block;
  color: #B5B5B7;
  padding: 5px 10px;
}

#menu a:hover,
#menu a:focus {
  color: #677077
}

#menu .sub > a:after {
  content: " v";
  letter-spacing: 1em;
  font-size: 10px
}

#menu .hider{
  overflow: hidden
}

#menu .sub ul{
  margin-top: -200%;
  transition: .5s;
  -webkit-transition: .5s
}

#menu .sub a:focus ~ .hider > ul,
#menu ul:hover {
  margin-top: 0;
}

/* General topic pages */
/* necessary for outlaying the current page */
.topPageGallery #subGallery ul,
.topPageTankmanager #subTankmanager ul {
  margin-top: 0;
}

/* Subpages to each topic */
/* necessary for highlighting the current page */
.topPageIndex #topMenuIndex,
.topPageTankmanager #topMenuTankmanager,
.topPageUrbansensingapp #topMenuUrbansensingapp,
.topPageGallery #topMenuGallery,
.topPageImpressum #topMenuImpressum,
.topPageTankmanager.subPageHome #subMenuTankmanagerHome,
.topPageTankmanager.subPageApp #subMenuTankmanagerApp,
.topPageTankmanager.subPageRegistration #subMenuTankmanagerRegistration,
.topPageGallery.subPageJapan #subMenuGalleryJapan,
.topPageGallery.subPageChina #subMenuGalleryChina,
.topPageGallery.subPageVietnam #subMenuGalleryVietnam,
.topPageGallery.subPageEngland #subMenuGalleryEngland {
  font-weight: bold;
  cursor: default;
  color: #677077;
}
